.loading {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 20px;
}

.spinner {
  width: 48px;
  height: 48px;

  border-radius: 50%;

  border: 4px solid #27272a;
  border-top-color: white;

  animation: spin 1s linear infinite;
}

.loading h2 {
  font-size: 1.5rem;
}

.loading p {
  color: var(--text-secondary);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}