.page {
  min-height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 24px;
}

.content {
  max-width: 700px;
}

.content span {
  font-size: 7rem;

  font-weight: 800;

  color: var(--text-secondary);
}

.content h1 {
  font-size: 3rem;

  margin-bottom: 16px;
}

.content p {
  color: var(--text-secondary);

  margin-bottom: 32px;
}

.actions {
  display: flex;

  justify-content: center;

  gap: 20px;

  flex-wrap: wrap;
}

.actions a {
  padding: 14px 24px;

  border-radius: 999px;

  border: 1px solid var(--border);

  transition: 0.3s;
}

.actions a:hover {
  transform: translateY(-3px);
}